.ui.vertical.basic.segment.all{
    height: 300px;
    background: url('images/star_banner.jpg');
    background-size: contain;
    padding-right: 50px;
    padding-left: 40px;
}

.header_1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #FFFFFF;
}

.p_1{
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%,-50%);
  color: #FFFFFF;
  font-size: 10px;
}
.ui.secondary.menu.centerM{
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.center_position{
  height: 500px;
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
.readme{
  color: grey;
}
.ui.inverted.segment.The_footer{
  position:absolute;
  width: 100%;
  height:100px;
  top: 1200px;
}
