.ui.vertical.inverted.padded.red.segment{
    padding: 8px;

}
.ui.vertical.basic.segment.banner{
    padding: 0px;
    height: 450px;
    background: url('images/detail.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.ui.header.title{
    margin-top: 30px;
}
