body{
  height: 100%;
  background: url('images/super_blur_back2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.ui.basic.segment.centerS{
  width: 70%;
  transform: translate(-50%,-50%);
  left: 70%;
  top: 50%;
  position: relative;
}
.ui.centered.image.logo{
  height: 400px;
  background: url('images/red_regi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin:0px;
}
.span_text{
  color:White;
  font-size:15px;
  padding-top:70px;
  margin-bottom: 10px;
}
.right_box{
  background: white;
  height: 500px;
  width: 500px;
  right:20%;
  margin:0px;
}
