.cool-1{

    margin:5px 300px 0 300px;
    background-color:white;
    padding:1px 20px 10px 20px;
}
.cool-2{
    margin:0px 0px 0 0px;
    background-color:rgb(231, 228, 235);
    padding:1px 20px 10px 20px;
}
.cool-3{
    margin:0px 0px 0 0px;
    background-color:white;
    padding:1px 20px 10px 20px;
}
