.biaotilan {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 500px;
}

.duanluo {
  border-bottom: solid 2px rgb(234, 234, 234);
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 800px;
}

.xian {
  border-bottom: solid 2px rgb(234, 234, 234);
  margin-bottom: 20px;
}

.biaoti {
  font-size: 30px;
  font-weight: bold;
}

.watch {
      font-size: 10px;
      color: rgb(226, 227, 228);
      padding: 5px 0 5px 0;
}

.juzhong {
  position: relative;
  right: 50%;
}
