.block-1 {
    border:solid;
    border-left-color: green;
    border-width: 0 0 0 5px;
    padding: 10px 20px 5px 20px;
    box-sizing: border-box;
    background:white;
}

.block-2 {
    border:solid;
    border-left-color: green;
    border-width: 0 0 0 5px;
    margin:10px 0 20px 0;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    background: white;
}

.block-3 {
    padding: 10px 20px 5px 20px;
    box-sizing: border-box;
    background:gray;

}

.block-4 {
    padding: 10px 20px 5px 20px;
    box-sizing: border-box;
    background:white;

}
.block-5 {
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    background:gray;

}

.bbq {
    font-size: 10px;
    font-style:italic;
}
