.ui.container.copyedd{
    height: 300px;
    background: url('images/banner.png');
    background-size:cover;
    background-repeat: no-repeat;
}

.ui.blue.button.copyedd{
    width: 4px;
}

.ui.basic.container.segment.arthas{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-60%);
}

.unhide.icon.arthass{
    width: 50px;
    font-size: 5px;
    color: rgb(134, 134, 134);
}
.checkmark.icon.arhtass2{
    width: 50px;
    font-size: 5px;
    color: rgb(134, 134, 134);
}

.ui.secondary.circular.right.float.button.arthas_right{
    position: relative;
    transform: translate(-50%,-0%);
    left:50%;
}
