.ui.vertical.segment.background{
    background: url('images/star_banner.jpg');
    background-repeat: repeat;
    background-size:contain;
}
.ui.images.person{
    height: 50px;
    width: 50px;
}
.ui.padded.container.segment{
    width: 500px;
}
