body {
  padding: 0;
  margin: 0;
  background-color: #F3F3F3;
}

.ui.text.menu.red {
  margin: 0;
  background-color: #E24237;
  padding: 0 10px
}

#img {
  height: 50px;
  line-height: 50px
}

#img img {
  vertical-align:middle;
}

.content {
  width: 60%;
  margin: 40px auto;
}

.tab {
  width: 50%;
  margin: 40px auto;
}

.buttons{
  width: 120px;
  margin: 0 auto;
}
