.ui.vertical.segment.hu{
    background: url('images/super_blur_back2.jpg');
    background-size:cover;
    height: 650px;

}
.ui.vertical.segment.xue{
    background-color: rgb(255, 255, 255);
    height: 350px;
    width:550px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:42%;

}
.ui.input{
    width: 340px;
    margin-top: 10px;
}
.ui.basic.segment{
    position: absolute;
    top: 45%;
    left: 66%;
    transform: translate(-50%,-50%);
}
.ui.image{
    background: url('images/red_regi.jpg');
    height:350px;
    width: 180px;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    position: absolute;
    bottom: 0px;
}
.fan{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.ui.inverted.red.circular.button{
    position: absolute;
    top: 84%;
    left: 90%;
    transform: translate(-50%,-50%);

}
.ui.text.menu{
    position: absolute;
    top: 3%;
    left: 91%;
    transform: translate(-50%,-50%);
}
.ui.inverted.header{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.one{
    color: white;
    font-size: 150%;
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-50%,-50%);
}
