.ui.red.inverted.vertical.segment.header{

    padding: 5px 20px 1px 20px;

}

.ui.image.logo{
    top:70%;
    transform: translate('-50%','-50%');

}

.ui.image.banner{
    background: url('Python-Full-Stack/Level1/lesson7_10MINsPart1/Step2_Practice/l7h2/images/detail.jpg');
    width:100%;
    height:60%;
    background-size: cover;
}

.ui.header.no1{
    font-size: 50px;
    font-style: oblique;
    font-weight: bolder;

}

.ui.vertical.segment.content{
    padding-left:25%;
    padding-right: 25%;
    font-style: normal;


}

.ui.sub.header.no2{
    color:rgb(210, 210, 210);
    margin:5px;
    width: 20px;

}
