#TopMenu {
    padding: 0;
    background-color: #333;
}

#TopMenu > .fourteen.wide.column > .ui.menu > .image {
    height: 44px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}

#Heros > .column > .image {
    padding: 50px 0 0 0;
}

#Promo > .column {
    padding: 1px;
}


#Directory {
    background-color: #F2F2F2;
}

#Directory > .column {
    padding: 0;
}

.DirTitleFont {
    height: 20px;
    font-size:10px;
    color:#333;
}

.DirFont {
    height: 20px;
    font-size:10px;
    color:#777;
}

.InfoFont {
    height: 20px;
    font-size:10px;
    color:#BBB;
}
