.outlier
{
    border-left: solid 5px rgb(30, 207, 27);
    background: white;
    margin-bottom: 10px;
    padding: 10px;
}

.innnergray
{
    background: lightgray;
    padding: 10px;
}

.innerwhite
{
    background: white;
    padding: 10px;
}

span{
    font-size: 12px;

}
