.ui.vertical.basic.segment.header {
    height: 400px;
    box-sizing: border-box;
    background: url("images/star_banner.jpg");
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
}

.subheader2 {
    font-size: 10px;
}

.ui.inverted.header {
    font-size: 40px;
}

.ui.inverted.header {
    margin-top: 20px;
}

.ui.text.three.item.menu{
    padding-left: 42%;
}

.ui.vertical.basic.segment.article {
    margin-left: 30%;
    margin-right: 30%;
}
