
.ui.basic.vertical.segment{
    height: 300px;
    background: url('images/detail.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}


.ui.basic.very.padded.segment{
    width: 512px;
    height: 256px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);

}

body{
    margin: 0;
}


.img {
  border: white solid 2px;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  background-color: rgb(10, 125, 231);
  text-align: center;
}
